<div class="card mb-5 mt-3 shadow-lg">

    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card-img2">
                    <img src="{{ asset('img/logo_aem-lg.png') }}"  class="mx-auto my-5 d-block" >
                </div>
            </div>
            <div class="col-lg-8 col-sm-6">
                <div class="card-text">
{{'jumbotron.1' | trans | markdown_to_html }}
{{'jumbotron.2' | trans | markdown_to_html }}
{{'jumbotron.3' | trans | markdown_to_html }}
{{'jumbotron.6' | trans | markdown_to_html }}
{{'jumbotron.5' | trans | markdown_to_html }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-around col-12">
    <a class="btn btn-success login-button" href="{{ path('app_register') }}"><i class="bi bi-person"></i>{{ 'participate' | trans }}</a>
    <a class="btn btn-primary login-button" href="{{path('app_login')}}" role="button"><i class="bi bi-person-check"></i> {{'already.registered' | trans }}</a>
</div>