{% extends 'base.html.twig' %}


{% block body %}
    <main>
        <div class="container">

            {# ************************************************************************************************** #}
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="card-img2">
                                {% if website.logo %}
                                    {% if website.logo|split('.')|last is same as('svg') %}
                                        <img  src="{{ asset('img/upload/website/'~ website.logo)}}" class="mx-auto my-5 d-block" height="200px">
                                    {% else %}
                                        <img src="{{ vich_uploader_asset(website,'logoFile') | imagine_filter('workshops_home') }}"  class="mx-auto my-5 d-block" height="200px">
                                    {% endif %}
                                {% else %}
                                    <img src="{{ asset('img/logo_aem-lg.png') }}"  class="mx-auto my-5 d-block" >

                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-6">
                            <div class="card-text">
                                <h3>AJOUTER CSV</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# ************************************************************************************************** #}

            <div class="row mb-2" >
                <div class="col-12">
                    {% include 'flashbag.html.twig' %}
                </div>
            </div>

                <a class="btn btn-primary" href="{{ path('user_admin') }}">
                    <i class="bi bi-arrow-left-short"></i>{{ 'back' | trans }}
                </a>

            <div class="row row-cols-1 d-flex justify-content-around ">
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                        <a href="{{ path('export_csv') }}" class="btn btn-primary">{{ 'export.file'|trans }}</a>
                        </div>
                    </div>
                <div class="card" style="width: 75%; margin-bottom: 10px;">
                    <div class="card-body">

                        <h5>{{ 'import.file'|trans }}</h5>

                        {{ form_start(form, {'attr': {'id': 'form'}}) }}
                        {{ form_widget(form) }}
                        <button name="submit" class="btn btn-primary">{{ 'submit'|trans }}</button>
                        <button name ="preview" class="btn btn-primary">{{ 'preview'|trans }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </main>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script>

//Soumet le formulaire dès l'upload du fichier
/*let inputFile = document.getElementById('user_csv_csvFile');
inputFile.onchange = function() {
    let form = document.getElementById('form');
    form.submit();
}*/
</script>
{% endblock %}




