{% extends 'base.html.twig' %}

{% block body %}
<main id="admin">
        <div class="container-fluid">
        {% include 'admin.menu.html.twig' %}
        <h1 class="text-center">{{'categories' | trans }} : {{ user.username }}</h1>
    </div>
    <div class="container mt-3 mb-5">
        {% include 'flashbag.html.twig' %}
        <div class="row mb-2">
            <div class="col-12">
                <a href="{{ path('user_admin') }}" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-bar-left"></i> {{ 'list_of' | trans }} {{ 'users' | trans | lower }}</a>
                <a href="{{ path('user_admin_edit', {'id' : user.id}) }}" class="btn btn-info btn-sm"><i class="bi bi-arrow-bar-left"></i> {{ 'back' | trans }}</a>
            </div>
        </div>
        <div class="row mb-2 mt-3">
            <div class="col-2">
                <div class="card">
                    <div class="card-body d-flex justify-content-center">
                        <h2 class="avatar bg-primary d-none d-lg-block">{{ user.username | first | capitalize }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <th style="width:80%;">{{ 'category' | trans  }}</th>
                                <th style="width:10%;">{{ 'add' | trans }}</th>
                                <th style="width:10%">{{ 'delete' | trans }}</th>
                            </thead>
                            <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td>{{ category.name }}</td>
                                    {% if category not in user.categories %}
                                    <td class="text-center"><a href="{{ path('user_add_category',{'id' : user.id,'categoryId' : category.id}) }}">
                                        <i class="bi bi-plus-circle"></i>
                                        </a></td><td></td>
                                    {% else %}
                                    <td></td><td class="text-center"><a href="{{ path('user_remove_category',{'id' : user.id,'categoryId' : category.id}) }}">
                                        <i class="bi bi-dash-circle"></i>
                                        </a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block javascript %}
{{ parent() }}

{% endblock %}