{% extends 'base.html.twig' %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                {% include 'admin.menu.html.twig' %}
                <header>
                    <h1 class="text-center">
                    {{'admin' | trans }} : {{ 'categories' | trans }}
                                        </h1>
                                        <div class="container">
                                            <div class="col-12">
                                                <div class="card p-3 mb-3">
                    {{ 'jumbo_explication_cats' | trans | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
{% if is_granted ('ROLE_ADMIN') %}
                    <div class="row mb-2">
                        <div class="col-12">
                             <a href="{{ path('category_add') }}" class="btn btn-primary">
                                <i class="bi bi-plus"></i> {{ 'add' | trans }}
                            </a>
                        </div>
                    </div>
{% endif %}
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

{% if total > 20 %}
                                            <ul class="pagination">
                                                {#la fleche de retour arriere, désactivé si on est page 1#}
                                                    <li class="{{ (page == 1) ? 'page-item disabled' : 'page-item' }}">
                                                        <a  class="page-link" href="{{ (page > 1) ? '?page='~(page - 1) : '' }}">
                                                            <i class="bi bi-arrow-left-square"></i>
                                                        </a>
                                                    </li>

                                                {#total de catégorie diviser par la limit, arrondie à l'entier superieur,
                                                donne le nombre max de pages#}
    {% set pages = ((total / limit)|round(0, 'ceil'))%}
    {% for item in 1..pages %}
                                                    <li class="{{ (page == item) ? 'page-item active' : 'page-item' }}">
                                                        <a class="page-link" href="?page={{ item }}">{{ item }}</a>
                                                    </li>
    {% endfor %}

                                                    <li class="{{ (page == pages) ? 'page-item disabled' : 'page-item' }}">
                                                        <a class="page-link" href="{{ (page < pages) ? '?page='~(page + 1) : '' }}">
                                                            <i class="bi bi-arrow-right-square"></i>
                                                        </a>
                                                    </li>
                                                </ul>
{% endif %}
                                    <div class="table-responsive">
                                        <table class="table table-centered" style="width:100%;">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="width:5%;">&nbsp;</th>

                                                    <th style="width:5%">{{ 'id' | trans }}</th>
                                                    <th style="width:5%">{{ 'category' | trans }}</th>
                                                    <th style="width:80%;">{{ 'description' | trans }}</th>
                                                    <th style="width:5%">{{ 'cgu.tab' | trans }}</th>
                                                    <th style="width:7%;">{{ 'edit' | trans }}</th>
                                                    <th style="width:8%;">{{ 'delete' | trans }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
{% for category in categories | sort %}
                                                {# si ce n'est pas un administrateur restreint on affiche & s'il est inscrit à la catégorie #}
    {% if 'ROLE_ADMIN_RESTRICTED' in app.user.roles and app.user in category.users or 'ROLE_ADMIN' in app.user.roles %}                                         <tr>
                                                <td>
        {% if category.image %}
            {% if category.image|split('.')|last is same as('svg') %}
                                                    <img  src="{{ asset('img/upload/categories/'~ category.image)}}" height="20px" width="20px">
            {% else %}
                                                    <img src="{{ vich_uploader_asset(category, 'imageFile')| imagine_filter('category_list')}}" />
            {% endif %}
            {% else %}
                                                    <img src="{{ asset('img/logo_aem-sm.png')}}" />
        {% endif %}
                                                </td>
                                                <td>{{ category.id }}</td>
                                                <td><a href="{{ path('category_edit', {'category' : category.id}) }}">{{ category.name }}</a></td>
                                                <td>
        {% if (category.description) | length > 200 %}
            {{ category.description | truncate(200, true)| raw }}
        {% else %}
            {{ category.description | raw }}
        {% endif %}
                                                </td>
                                                <td>
        {% for cgu in cgus %}
            {% if category.id is same as(cgu.category.id)  %}
                                                    <a href="{{ path('show_cgu', {'id':category.id}) }}">
                {{ cgu.name }}
                                                    </a>
            {% endif %}
        {% endfor %}
                                                </td>
                                                <td>
                                                    <a href="{{ path('category_edit', {'category' : category.id}) }}" class="text-primary"><i class="bi bi-list-task"></i></a>
                                                </td>
                                                <td>
        {% if category.id != 1 %}
                                                    <a href="{{ path('category_delete', {'category' : category.id}) }}" class="text-primary"  data-toggle="deleteConfirmation">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
        {% endif %}
                                                </td>
                                            </tr>
    {% endif %}
{% endfor %}
                                            </tbody>
                                        </table>
{% if total > 20 %}
                                        <ul class="pagination">
                                            <li class="{{ (page == 1) ? 'page-item disabled' : 'page-item' }}">
                                                <a  class="page-link" href="{{ (page > 1) ? '?page='~(page - 1) : '' }}">
                                                    <i class="bi bi-arrow-left-square"></i>
                                                </a>
                                            </li>
                {% set pages = ((total / limit)|round(0, 'ceil'))%}
                    {% for item in 1..pages %}
                                            <li class="{{ (page == item) ? 'page-item active' : 'page-item' }}">
                                                <a class="page-link" href="?page={{ item }}">{{ item }}</a>
                                            </li>
                    {% endfor %}
                                            <li class="{{ (page == pages) ? 'page-item disabled' : 'page-item' }}">
                                                <a class="page-link" href="{{ (page < pages) ? '?page='~(page + 1) : '' }}">
                                                    <i class="bi bi-arrow-right-square"></i>
                                                </a>
                                            </li>
                                        </ul>
{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
