{% extends 'base.admin.html.twig' %}
{% block body  %}
    {% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <header>
                    <h1 class="text-center">{{ 'admin' | trans }} : {{ 'appearance' | trans }}</h1>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
                                {{ 'jumbo_explication_appearance' | trans | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
                {% for label, messages in app.flashes %}
                     {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                     {% endfor %}
                {% endfor %}
                        {#
                            theme.:
                                ->prefix
                                ->version
                                ->etat
                                ->compatibilite !! nullable
                                ->nom !! nullable
                                ->auteurs !! nullable
                                ->credit !! nullable
                                ->licence !! nullable
                                ->prefix !! nullable
                                ->schema
                        #}
                        {% for theme in themes %}
                            <div class="card mb-3 mx-auto" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{{ path('show_image', {imagePath: theme.prefix}) }}" class="img-fluid rounded-start" alt="Icon du theme">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">

                                            <h5 class="card-title">{{ theme.nom }} </h5>
                                            <p class="card-text">Etat:  {{ theme.etat }} </p>
                                            <p class="card-text text-secondary">Version: {{ theme.version }}</p>
                                            {%  if theme.prefix != website.backgroundColor %}
                                                <a href="{{ path('change_background',{themePrefix: theme.prefix}) }}" class="btn btn-primary">{{ 'choose' | trans }}</a>
                                            {% else %}
                                                <a class="btn btn-primary disabled">{{ 'choose' | trans }}</a>

                                            {% endif %}
                                            {% if theme.auteurs != null %}
                                                <p class="card-text">auteur{{ (theme.auteurs|length != 1 )?'s':'' }}</p>
                                                {#
                                                auteur.:
                                                    ->name !! nullable
                                                    ->site !! nullable
                                                    ->email !! nullable
                                                #}
                                                {% for auteur in theme.auteurs %}
                                                    <p class="card-text text-secondary">nom:  {{ auteur.name }} </p>
                                                    <p class="card-text text-secondary">email: {{ auteur.email }}</p>
                                                    <p class="card-text text-secondary">site: {{ auteur.site }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
            </main>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}