{% extends 'base.html.twig' %}
{% block body %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
    <header>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-content-center">
                <h1 class="align-content-center justify-content-center">
{{ 'notifications' | trans }}
                </h1>
            </div>
        </div>
    </header>
{% endblock %}
    <main main="role">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="card-img2">
                                {% if website.logo %}
                                    {% if website.logo|split('.')|last is same as('svg') %}
                                        <img  src="{{ asset('img/upload/website/'~ website.logo)}}" class="mx-auto my-5 d-block" height="200px">
                                    {% else %}
                                        <img src="{{ vich_uploader_asset(website,'logoFile') | imagine_filter('workshops_home') }}"  class="mx-auto my-5 d-block" height="200px">
                                    {% endif %}
                                {% else %}
                                    <img src="{{ asset('img/logo_aem-lg.png') }}"  class="mx-auto my-5 d-block" >

                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-6">
                            <div class="card-text">
                                <h3>{{ 'notifications' | trans }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# ************************************************************************************************** #}

            <div class="row mb-2" >
                <div class="col-12">
                    {% include 'flashbag.html.twig' %}
                </div>
            </div>

            <div class="row row-cols-1 d-flex justify-content-around ">
                {% for n in notifications | sort | reverse %}
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            {% if n.request is not null and n.request.isDone is same as(true) %}
                                <a href="{{ path('notification_delete', {'id':n.id}) }}"><i class="bi bi-x" title="{{ 'delete'|trans }}" style="padding-left: 95%;"></i></a>
                            {% elseif n.report is not null and n.report.isDone is same as(true) %}
                                <a href="{{ path('notification_delete', {'id':n.id}) }}"><i class="bi bi-x" title="{{ 'delete'|trans }}" style="padding-left: 95%;"></i></a>
                            {% elseif n.request is null and n.report is null %}
                                <a href="{{ path('notification_delete', {'id':n.id}) }}"><i class="bi bi-x" title="{{ 'delete'|trans }}" style="padding-left: 95%;"></i></a>
                            {% endif %}

                            <h5 class="card-title">{{ n.date | date ("m/d/Y") }}</h5>
                            <p class="card-text">{{ n.subject | raw }}</p>
                            {% if n.request and not n.request.isDone %}
                                <a class="btn btn-primary" href="{{ path('category_accept_request',{'id' : n.request.id}) }}">{{ 'accept'|trans }}</a>
                                <a class="btn btn-danger" href="{{ path('category_deny_request',{'id' : n.request.id}) }}">{{ 'decline'|trans }}</a>
                            {% elseif n.report and n.report.forum and not n.report.isDone %}
                                <a class="btn btn-danger" href="{{ path('report_process', {'idReport':n.report.id, 'decision':'true'}) }}"><i class="bi bi-trash"  title="{{ 'delete.message'|trans }}"></i></a>
                                <a class="btn btn-primary" href="{{ path('report_process', {'idReport':n.report.id, 'decision':'false'}) }}"><i class="bi bi-check"  title="{{ 'delete.not'|trans }}"></i></a>
                                <a class="btn btn-outline-danger" href="{{ path('report_process', {'idReport':n.report.id, 'decision':'ban'}) }}"><i class="bi bi-exclamation"  title="{{ 'delete.author'|trans }}"></i></a>
                            {% elseif n.report and n.report.proposal and not n.report.isDone %}
                                <a href="{{ path('report_process_proposal', {'idReport': n.report.id, 'decision': 'true'}) }}" class="btn btn-danger"><i class="bi bi-trash"  title="{{ 'delete.proposal'|trans }}"></i></a>
                                <a href="{{ path('report_process_proposal', {'idReport': n.report.id, 'decision': 'false'}) }}" class="btn btn-primary"><i class="bi bi-check"  title="{{ 'delete.not'|trans }}"></i></a>
                                <a href="{{ path('report_process_proposal', {'idReport': n.report.id, 'decision': 'ban'}) }}" class="btn btn-outline-danger"><i class="bi bi-exclamation"  title="{{ 'delete.author'|trans }}"></i></a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}
