<nav id="my-id-menu" class="navbar navbar-expand-md" role="navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-my_id" aria-controls="menu-my_id" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="bi bi-view-list"></i></span>
  </button>
  <div class="collapse navbar-collapse nav justify-content-center" id="menu-my_id">
    <ul class="nav justify-content-center nav-tabs flex-column flex-md-row">
    {# Ici les onglets #}
    {# Ici la modification de profil est possible #}
        <li class="nav-item">
            <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
           role="tab" aria-controls="pills-profile"
           aria-selected="false">
                <i class="bi bi-wrench"></i>{{ 'edit' | trans }}
            </a>
        </li>

    {# Les categories dont on fait partie + lien pour en demander d'autre #}
    {% if not is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" id="pills-category-tab" data-toggle="pill" href="#pills-category"
               role="tab" aria-controls="pills-category" aria-selected="true">
                <i class="bi bi-wrench"></i>{{ 'categories'|trans }}
            </a>
        </li>
    {% endif %}

    {# Ici les ateliers disponibles dans les categories de l'utilisateur #}
        <li class="nav-item">
            <a class="nav-link" id="pills-workshops-tab" data-toggle="pill" href="#pills-workshops"
           role="tab" aria-controls="pills-workshops" aria-selected="false">
                <i class="bi bi-wrench"></i>{{ 'workshops' | trans }}
            </a>
        </li>

    {# Ici les propositions faites par l'utilisateur #}
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
           role="tab" aria-controls="pills-contact" aria-selected="false">
                <i class="bi bi-suit-heart"></i>{{ 'your-proposals' | trans }}
            </a>
        </li>

    {# Dans l'onglet de base sont les forums de l'utilisateur #}
        <li class="nav-item">
            <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home"
           role="tab" aria-controls="pills-home" aria-selected="true">
                <i class="bi bi-vector-pen"></i>{{ 'your-threads'  | trans }}</a>
        </li>
    </ul>
</div>
</nav>
