{% extends 'base.html.twig' %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}		
{% block header %}
	<header>
		<h1 class="text-center">{{'dashboard' | trans }}</h1>
        <div class="container">
            <div class="col-12">
                <div class="card p-3 mb-3">
{{ 'jumbo_explication_deleg' | trans | markdown_to_html }}
			</div>
		</div>
	</header>
{% endblock %}
	<main id="admin">
		<div class="container">
{% include 'flashbag.html.twig' %}
			<div class="row mb-2">
				<div class="col-12 d-flex">
					<h2>{{ 'list_of_delegations' | trans }} </h2>
				</div>
			</div>
			<div class="row mb-3" >
				<div class="col-12">				
					<div class="card">
						<div class="card-body">
							<h3>{{ 'delegation.given' | trans }}</h3>
							<hr />
							<table class="table">
								<thead class="thead-dark">
									<tr>
										<th scope="col" width="5%">#</th>
										<th scope="col" width="15%">{{ 'userTo' | trans }}</th>
										<th scope="col" width="25%">{{ 'theme' | trans }}</th>
										<th scope="col" width="25%">{{ 'workshops' | trans }}</th>
										<th scope="col" width="15%">{{ 'delete' | trans }}</th>
									</tr>
								</thead>
								<tbody>
								{% for d in delegationsFrom %}
									<tr>
										<th scope="row">{{ d.id }}</th>
										<td>{{ d.UserTo.username }}</td>
										<td>{{ (d.theme != "") ? d.theme.name : "" }}</td>
										{# TODO Afficher le nom des ateliers inscrits dans le thème #}
										<td>{{  (d.workshop != "") ? d.workshop.name : ""}}</td>

										<td><a class="btn btn-secondary" href="{{ path('delegation_delete', {'delegation' : d.id}) }}"><i class="bi bi-trash"></i></a></td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
							<h3>{{ 'delegation.received' | trans }}</h3>
							<hr />
							<table class="table">
								<thead class="thead-dark">
									<tr>
										<th scope="col" width="5%">#</th>
										<th scope="col" width="15%">{{ 'userFrom' | trans }}</th>
										<th scope="col" width="25%">{{ 'theme' | trans }}</th>
										<th scope="col" width="25%">{{ 'workshops' | trans }}</th>
										<th scope="col" width="15%">{{ '' }}</th>
									</tr>
								</thead>
								<tbody>
								{% for d in delegationsTo %}
									<tr>
										<th scope="row">{{ d.id }}</th>
										<td>{{ d.UserFrom.username }}</td>
										<td>{{ (d.theme != "") ? d.theme.name : "" }}</td>
										<td>{{ (d.workshop != "") ? d.workshop.name : "" }}</td>
										<td></td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
