<tr>
    <td>
        {% if theme.image %}
            {% if theme.image|split('.')|last is same as('svg') %}
                <img src="{{ asset('img/upload/themes/'~ theme.image)}}" height="20px" width="20px">
            {% else %}
                <img src="{{ vich_uploader_asset(theme, 'imageFile') | imagine_filter('themes_list')}}" />
            {% endif %}
        {% else %}
            <img src="{{ asset('img/logo_aem-sm.png')}}" />
        {% endif %}
    </td>
    <td>{{ theme.id }}</td>
    <td>
        <a href="{{ path('theme_edit', {'theme' : theme.id}) }}" class="text-primary">{{ theme.name }}
        </a>
    </td>
    <td>{% if (theme.description) | length > 200 %}{{ theme.description  | truncate(200, true) | raw }}{% else %}{{ theme.description | raw }}{% endif %}</td>
    <td>
        <a href="{{ path('theme_edit', {'theme' : theme.id}) }}" class="text-primary">
            <i class="bi bi-list-task"></i>
         </a>
    </td>
    <td>
        <a href="{{ path('theme_copy', {'themeId' : theme.id}) }}" class="text-primary">
            <i class="bi bi bi-back"></i>
        </a>
    </td>
    <td>
        <a href="{{ path('theme_delete', {'theme' : theme.id}) }}" class="text-primary"  data-toggle="deleteConfirmation">
            <i class="bi bi-trash"></i>
        </a>
    </td>
</tr>
