{% extends 'base.html.twig' %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
{% block header %}
                <header>
                    <h1 class="text-center">
{{ 'theme' | trans }} : {{ form.vars.value.name }}</h1>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
{{ 'jumbo_explication_cats' | trans | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
{% endblock %}
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'id': 'form_upload'}}) }}
                    <div class="col-12 " style="display:flex;">
                        <a href="{{ path('theme_admin') }}" class="btn btn-secondary btn-sm">
                            <i  class="bi bi-arrow-bar-left"></i> {{ 'list_of' | trans }} {{ 'themes' | trans | lower }}
                        </a>
                        <a href="{{ path('workshop_add', {'idThemeParent':theme.id})}}" class="btn btn-primary btn-sm" style="margin-left:auto;"><i class="bi bi-arrow-bar-right"></i> {{ 'add' | trans}} {{ 'workshop' | trans }}</a>
                        <a href="{{ path('theme_delete', {'theme' : form.vars.value.id}) }}" class="btn btn-danger btn-sm" data-toggle="deleteConfirmation"">
                            <i class="bi bi-trash"></i> {{ 'delete' | trans }}
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 ml-sm-auto">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="card mt-3">
                                        <div class="card-body">
                                            {% if theme.image %}

                                                {% if theme.image|split('.')|last is same as('svg') %}
                                                    <img  src="{{ asset('img/upload/themes/'~ theme.image)}}" class="img-fluid" style="padding-bottom: 30px" >
                                                {% else %}
                                                    <img src="{{ vich_uploader_asset(theme, 'imageFile') | imagine_filter('themes_home') }}" class="img-fluid" style="padding-bottom: 30px"/>

                                                {% endif %}

                                                <input id="fauxBoutonSupprimer" class="parDessusSupprimer btn btn-danger btn-sm" type="button" value="{{ 'delete'|trans }}">
                                                <article class="invisibleInput" >
                                                    {{ form_row(form.imageFile) }}
                                                </article>

                                            {% else %}
                                                <img src="{{ asset('img/logo_aem-lg.png') }}" class="img-fluid" style="padding-bottom: 20px"/>
                                                <input id="fauxBouton" class="parDessus btn btn-secondary btn-sm" type="button" value="{{ 'choose'| trans }}">
                                                <article class="invisibleInput" >
                                                    {{ form_row(form.imageFile) }}
                                                </article>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                                 aria-labelledby="pills-profile-tab">
                                        <div class="card mt-3">
                                            <div class="card-body">
                                    {{ form_row(form.name) }}
                                    {{ form_row(form.category) }}
                                    {{ form_row(form.description) }}
                                    <div style="display: flex">
                                        {{ form_row(form.isPublic) }}
                                        <input type="checkbox" name="delegationPossible" id="delegationPossible">
                                        <label for="delegationPossible">{{ 'delegation.authorize'|trans }}</label>
                                    </div>
                                    {{ form_row(form.voteType) }}
                                    {{ form_row(form.points) }}
                                    {{ form_row(form.delegationDeepness) }}
                                    {{ form_row(form.submit) }}
                                    {{ form_end(form) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script >

{#Afficher ou non la selection de points si vote à point selectionné#}

let selectVote = document.getElementById('theme_voteType');
let selectPoints = document.getElementById('theme_points');
let parent = selectPoints.parentElement;
{% if theme.voteType == 'weighted' or theme.voteType == 'weighted-delegation'%}
parent.setAttribute('style', 'display:initial');
{% else %}
parent.setAttribute('style', 'display:none');
{% endif %}

selectVote.onchange = function () {
	if(selectVote.value === 'weighted' || selectVote.value === 'weighted-delegation'){
		parent.setAttribute('style', 'display:initial');
	}else{
		parent.setAttribute('style', 'display:none');
	}
}

{# Affiche les modes de votes disponible en fonction des délégations acceptés ou non #}
let checkDelegation = document.getElementById('delegationPossible');
let delegationDeepness = document.getElementById('theme_delegationDeepness');


{% if theme.voteType == 'yes-delegation' or theme.voteType == 'weighted-delegation' %}
    checkDelegation.checked = true;
    delegationDeepness.setAttribute('style', 'display: initial;');
    delegationDeepness.parentElement.setAttribute('style', 'display: initial;');
    $("optgroup[label='{{ 'votes.without.delegations'|trans }}']").attr('disabled', true);
    $("optgroup[label='{{ 'votes.with.delegation'|trans }}']").attr('disabled', false);
{% else %}
    checkDelegation.checked = false;
    delegationDeepness.setAttribute('style', 'display: none;');
    delegationDeepness.parentElement.setAttribute('style', 'display: none;');
    $("optgroup[label='{{ 'votes.without.delegations'|trans }}']").attr('disabled', false);
    $("optgroup[label='{{ 'votes.with.delegation'|trans }}']").attr('disabled', true);
{% endif %}

//On actualise ce qu'on affiche ou non en fonction de la valeur de la checkbox
checkDelegation.onchange = function(){
	if (checkDelegation.checked === true){
		delegationDeepness.setAttribute('style', 'display: initial;')
		delegationDeepness.parentElement.setAttribute('style', 'display: initial;');
		selectVote.value = 'yes-delegation';
		parent.setAttribute('style', 'display:none');
		$("optgroup[label='{{ 'votes.without.delegations'|trans }}']").attr('disabled', true);
		$("optgroup[label='{{ 'votes.with.delegation'|trans }}']").attr('disabled', false);
	}else{
		delegationDeepness.setAttribute('style', 'display: none;');
		delegationDeepness.parentElement.setAttribute('style', 'display: none;');
		selectVote.value = 'no-delegation';
		parent.setAttribute('style', 'display:none');
		$("optgroup[label='{{ 'votes.without.delegations'|trans }}']").attr('disabled', false);
		$("optgroup[label='{{ 'votes.with.delegation'|trans }}']").attr('disabled', true);
	}
}



//Permet de soumettre le formulaire dès le changement de photo
$('.custom-file-input').on('change', function(event) {
    let form = document.getElementById('form_upload');
    form.submit();
});

//Permet de soumettre le formulaire dès le click sur "Supprimer" sous photo
let checkSupprimer = document.getElementById('theme_imageFile_delete');
checkSupprimer.onchange = function (){
     let form = document.getElementById('form_upload');
    form.submit();
}

</script>
{#<script>#}
{# Permet d'empecher d'entrer une profondeur de délégation si le champ voteType n'est pas sur 'yes-delegation' #}

{#    window.onLoad=()=>{#}
{#        let voteType = document.querySelector("#theme_voteType");#}
{#        voteType.addEventListener("change", function () {#}
{#            let form = this.closest("form");#}
{#            let data = this.name + "=" + this.value;#}

{#            fetch(form.action, {#}
{#                method: form.getAttribute("method"),#}
{#                body: data,#}
{#                headers: {#}
{#                    "Content-Type": "application/x-www-form-urlencoded;" +#}
{#                     "charset:utf-8"#}
{#                }#}
{#            })#}
{#            .then(response=>response.text())#}
{#            .then(html => {#}
{#                let content = document.createElement("html");#}
{#                content.innerHTML = html;#}
{#                let nouveauSelect = content.querySelector("#theme_delegationDeepness");#}
{#                document.querySelector("#theme_delegationDeepness").replaceWith(nouveauSelect);#}
{#            })#}
{#            .catch(error=>{#}
{#                console.log(error);#}
{#            })#}
{#        })#}
{#    }#}
{#</script>#}
{% endblock %}
