<div class="btn-group mb-3 " role="group">
    {% set vFa = 0 %}
    {% set vAg = 0 %}
    {% set vM = 0 %}
    {% set vD = 0 %}
    {% set vTd = 0 %}
    {% for vote in proposal.votes %}
        {% if vote.votedFullAgreement > 0 %} {% set vFa = vFa + 1 %} {% endif %}
        {% if vote.votedAgree > 0 %} {% set vAg = vAg + 1 %} {% endif %}
        {% if vote.votedMixed > 0 %} {% set vM = vM + 1 %} {% endif %}
        {% if vote.votedDisagree > 0 %} {% set vD = vD + 1 %} {% endif %}
        {% if vote.votedTotalDisagreement > 0 %} {% set vTd = vTd + 1 %} {% endif %}
    {% endfor %}

    {% if app.user and date(workshop.dateVoteEnd) > date() %}
        {# Si le vote est possible, on affiche les 5 icones de vote avec confirmation. #}
        <div class="dropdown">
            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFullAgreement', 'user' : app.user.id }) }}"
               class="btn btn-success vote-border"
                    type="button" id="link-vote"
                    aria-expanded="false">
                {{ 'full-agreement' | trans }}
            </a>
        </div>
        <div class="dropdown">
            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgree', 'user' : app.user.id }) }}"
               class="btn btn-success vote-border"
                    type="button" id="link-vote"
                    aria-expanded="false">
                {{ 'agree' | trans  }}
            </a>
        </div>
        <div class="dropdown">
            <a  href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedMixed', 'user' : app.user.id }) }}"
            class="btn btn-outline-secondary  vote-border "
               role="button" id="link-vote"
                aria-expanded="false">{{ 'mixed' | trans  }}
            </a>
        </div>
        <div class="dropdown">
            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedDisagree', 'user' : app.user.id }) }}"
               class="btn btn-danger vote-border"
                    role="button" id="link-vote"
                    aria-haspopup="true"
                    aria-expanded="false">
                {{ 'disagree' | trans  }}
            </a>

        </div>
        <div class="dropdown">
            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedTotalDisagreement', 'user' : app.user.id }) }}"
               class="btn btn-danger  vote-border"
                    type="button" id="link-vote"
                    aria-expanded="false">
                {{ 'total-disagreement' | trans  }}
            </a>
        </div>

        {# Supprimer son vote #}
{% for vote in proposal.votes %}
    {% if app.user == vote.user %}
    <div class="row mb-2" >
        <div class="col-12">
            <a href="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id, 'vote' : vote.id}) }}" class="btn btn-light ml-1 btn-sm"
                data-toggle="deleteConfirmation"><i
                        class="bi bi-trash"></i> {{ 'vote-delete' | trans }}</a>
        </div>
    </div>
    {% endif %}
        {% endfor %}
    {% elseif app.user and date(workshop.dateVoteEnd) < date() %}
        {# Si le vote n'est plus possible, on affiche juste des icones #}
        <div class="btn vote-border ">{{ 'full-agreement' | trans }}</div>
        <div class="btn vote-border">{{ 'agree' | trans }}</div>
        <div class="btn vote-border">{{ 'mixed' | trans }}</div>
        <div class="btn vote-border">{{ 'disagree' | trans }}</div>
        <div class="btn vote-border">{{ 'total-disagreement' | trans }}</div>
    {% endif %}
</div>
