{% for workshop in workshops %}
    {% set nbProposals = 0 %}
    {% set nbForums = 0 %}
    {% set nbProposals =  nbProposals + workshop.proposals.count %}
    {% for proposal in workshop.proposals %}
        {% set nbForums = nbForums + proposal.forums.count %}
    {% endfor %}
<a href="{{ path('workshop_show', {'workshop' : workshop.id, 'slug' : slug ~ "_" ~ workshop.name | slugify }) }}" class="card-link">
    <div class="card mb-2 p-1 shadow-sm">
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar"
                 style="width: {{ progress(workshop.dateBegin, workshop.dateEnd) }}%;"
                 aria-valuenow="{{ progress(workshop.dateBegin, workshop.dateEnd) }}"
                 aria-valuemin="0" aria-valuemax="100">
             </div>
        </div>
        <div class="card-header">
            <div class="row">
                <div class="col-2 d-flex align-items-center">
    {% if workshop.image %}
        {% if workshop.image|split('.')|last is same as('svg') %}
                    <img class="mx-auto d-block img-fluid" src="{{ asset('img/upload/workshops/'~ workshop.image)}}"  >
        {% else %}
                    <img class="mx-auto d-block img-fluid" src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('workshops_home') }}"/>
        {% endif %}
    {% else %}
        {% if theme.image %}
            {% if theme.image|split('.')|last is same as('svg') %}
                    <img class="mx-auto d-block img-fluid" src="{{ asset('img/upload/themes/'~ theme.image)}}"  >
            {% else %}
                    <img class="mx-auto d-block img-fluid" src="{{ vich_uploader_asset(theme, 'imageFile') | imagine_filter('workshops_home') }}"/>
            {% endif %}
        {% else %}
                    <img class="img-fluid" src="{{ asset('img/logo_aem.png') }}"/>
        {% endif %}
    {% endif %}
                </div>
                <div class="col-8">
                    <h3 class="card-title">
        {{ workshop.name }}
                    </h3>
                </div>
                <div class="col-2">
                    <p class="card-text">
    {% if workshop.voteStatus or workshop.forumStatus %}
        <i class="bi bi-check-circle green"></i>
        {{ 'workshop.open' | trans }}
    {% else %}
        <i class="bi bi-x-circle pink"></i>
        {{ 'workshop.close' | trans }}
    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="card-body pt-2">
            <div class="row">
                <div class="col-9">
                    <p class="card-text text-justify">
    {{ workshop.description | striptags | truncate(500, true) | raw }}
                    </p>
                </div>
                <div class="col-3">
                    <ul class="list-group text-secondary">
                        <li class="list-group-item">
                            <i class="bi bi-clock"></i>
    {{ 'start' | trans }} {{ workshop.dateBegin | date("d/m/Y") }}
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-clock"></i>
    {{ 'start' | trans }} {{ workshop.dateEnd | date("d/m/Y") }}
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-bar-chart-line"></i> 
    {{ nbProposals }} {{ 'proposals' | trans }}
                        </li>
                        <li class="list-group-item">
                            <i class="bi  bi-chat-text-fill"></i> 
    {{ nbForums }} {{ 'forums' | trans }}
                        </li>
                    </ul>
<!--                            
                    <div class="d-flex d-flex-nowrap mt-2">
                        <div class="avatar avatar-list avatar-sm bg-light text-secondary">
                            CB
                        </div>
                        <div class="avatar avatar-list avatar-sm bg-light text-secondary">
                            CB
                        </div>
                        <div class="avatar avatar-list avatar-sm bg-light text-secondary">
                            CB
                        </div>
                        <div class="avatar avatar-list avatar-sm bg-light text-secondary">
                            CB
                        </div>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>
</a>
{% endfor %}
