{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ theme.name }}
{% endblock %}
{% block body %}
{% set slug =  app.request.get('slug') %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
    <header>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-content-center">
                <h1 class="align-content-center justify-content-center">
                    {{ 'theme' | trans}} : {{ theme.name }}
                </h1>
            </div>
        </div>
    </header>
{% endblock %}
    <main id="themes">
        <div class="container">
            <div class="row row-cols-1 d-flex justify-content-around mb-5">
{% include 'theme/overview.html.twig' %}
            </div>
{% include 'flashbag.html.twig' %}
            <h2 class="mb-3 mt-2 pt-2 pb-2">{{ 'workshops' | trans }}</h2>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="d-flex">
                        <div class="mr-auto">
                            <div class="btn-group" roles="group">
                                <a href="{{ path('homepage') }}" class="btn btn-primary"><i class="bi bi-arrow-left-short"></i> {{ 'back_to_homepage' |trans }}</a>
                            </div>
{% if app.user %}
    {% if app.user in theme.category.users and is_granted('ROLE_ADMIN_RESTRICTED') or is_granted('ROLE_ADMIN') %}
                                <div class="btn-group" role="group">
                                    <a href="{{ path('workshop_add_byuser', {'theme' : theme.id, 'slug' : slug }) }}"
                                       class="btn btn-secondary">
                                        <i class="bi bi-plus"></i> {{ 'add' | trans }}
                                    </a>
                                </div>
    {% endif %}
{% endif %}
                        </div>
{% if theme.voteType == 'yes-delegation' or theme.voteType == 'weighted-delegation'%}
    {% if app.user in theme.category.users or is_granted('ROLE_ADMIN')%}
                            <div class="mr-5">
                                <div class="btn-group" role="group">
                                        <a href="{{ path('delegation_add_theme', {'theme' : theme.id}) }}"
                                           class="btn btn-info"><i
                                            class="bi bi-people-plus"></i> {{ 'delegate_my_vote' | trans }}</a>
                                </div>
                            </div>
    {% endif %}
{% endif %}
                        <div class="ml-5">
                            <div class="btn-group" role="group">
                                <a href="#" onclick="viewing('grid')"
                                   class="btn btn-danger {{ ((app.request.get('view') == "grid" ) or app.request.get('view') == null)  ? "disabled" : "" }}">
                                    <i class="bi bi-grid"></i>
                                </a>
                                <a href="#" onclick="viewing('list')"
                                   class="btn btn-danger {{ (app.request.get('view') == "list")  ? "disabled" : "" }}"><i class="bi bi-list"></i>
                               </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5 mt-3">
{% if app.request.get('view') == 'list' %}
    {% include 'workshop/index-list.html.twig' %}
{% else %}
    {% include 'workshop/index-grid.html.twig' %}
{% endif %}
            </div>
        </div>
    </main>
{% endblock %}

