{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    {% if 'ROLE_ADMIN' in app.user.roles %}
        - {{ 'ROLE_ADMIN' | trans }}
    {% elseif 'ROLE_ADMIN_RESTRICTED' in app.user.roles %}
        - {{ 'ROLE_ADMIN_RESTRICTED' | trans }}
    {% elseif 'ROLE_MODERATOR' in app.user.roles %}
        - {{ 'ROLE_MODERATOR' | trans }}
    {% else %}
        - {{ 'ROLE_USER' | trans }}
    {% endif %}
{% endblock %}
{% block body %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
    <header>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-content-center">
                <h1 class="align-content-center justify-content-center">
{{ 'profile' | trans }} - {{ userForm.vars.value.firstName }} {{ userForm.vars.value.lastName }}
                </h1>
            </div>
        </div>
    </header>
{% endblock %}
    <main id="identite">
{% include 'edit-by-user/menu-tabs.html.twig' %}
        <div class="container">
{% include 'flashbag.html.twig' %}
{% form_theme userForm 'bootstrap_4_layout.html.twig' %}
{{ form_start(userForm, {'attr': {'id': 'form_upload'}}) }}
            <div class="row">
                <div class="col-lg-12 ml-sm-auto">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card mt-3 justify-content-center">
                                <div class="card-body ">
{% if app.user.image %}
    {% if app.user.image|split('.')|last is same as('svg') %}
                                    <img class="bd-placeholder-img card-img-top" height="250" src="{{ asset('img/upload/users/'~ app.user.image)}}" alt="{{ app.user.firstName }}">
                                        {#<object type="image/svg+xml" data="{{ asset('img/upload/users/'~ app.user.image)}}"  height="250"></object>#}
    {% else %}
                                    <img class="bd-placeholder-img card-img-top" height="250" style="object-fit: contain; max-width:100%;"
                                             src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('themes_home') }}" alt="{{ app.user.firstName }}"/>
    {% endif %}
                                    <input id="fauxBoutonSupprimer" class="parDessusSupprimer btn btn-danger btn-sm" type="button" value="{{ 'delete'|trans }}">
                                    <article class="invisibleInput" >
    {{ form_row(userForm.imageFile) }}
                                    </article>
    {% else %}
                                   <div class="rounded-circle avatar-lg text-center large " style="margin-bottom: 20px; margin-left: 22%">
                                       {{ userForm.vars.value.firstName | first }}{{ userForm.vars.value.lastName | first }}
                                   </div>

                                    <input id="fauxBouton" class="parDessus btn btn-secondary btn-sm" type="button" value="{{ 'choose'| trans }}">
                                    <article class="invisibleInput" >
    {{ form_row(userForm.imageFile) }}
                                    </article>
{% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12">
                        {# On inclut les onglets permettant de naviguer entre les differents elements du profil. Les moderateurs ont aussi acces a tous les forums de leurs categories #}
{% include 'edit-by-user/content-tabs.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block javascript %}
{# Appel du block javascript parent pour ne pas tout override #}
{{ parent() }}

{#  On a besoin de la version non slim de jquery pour avoir acces a l'ajax #}
{# On a besoin de mettre les scripts dans le twig pour acceder a l'url necessaire #}
{% include 'edit-by-user/scripts.html.twig' %}


<script>
//Permet de soumettre le formulaire dès le changement de photo
$('.custom-file-input').on('change', function(event) {
    let form = document.getElementById('form_upload');
    form.submit();
});

//Permet de soumettre le formulaire dès le click sur "Supprimer" sous photo
let checkSupprimer = document.getElementById('user_edit_by_user_imageFile_delete');
checkSupprimer.onchange = function (){
     let form = document.getElementById('form_upload');
    form.submit();
}
</script>

{% endblock %}
