{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/signin.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %} -
    {{ 'login'  | trans}}
{% endblock %}
{% block body %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
{% include 'header.html.twig' %}
{% endblock %}
	<main role="login" id="login">
		<div class="container">
			<h2 class="mb-3">{{'signin.please' | trans }}</h2>
			<div class="card col-12 mb-4">
				<div class="card-body">
{% if website.loginMessage %}
	{{ website.loginMessage | raw }}
{% else %}
	{{ 'your_login' | trans | markdown_to_html }}
{% endif %}
				</div>
			</div>
			<form method="post" class="form-signin">
{% if error %}
				<div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'validators') }}</div>
{% endif %}
{% if app.user %}
				<div class="mb-3">
{{ 'signin.already' | trans }} <b>{{ app.user.username }}</b>.
					<br /><a href="{{ path('app_logout') }}">{{ 'Logout' | trans }}</a>
				</div>
{% else %}
				<input type="email" name="email" id="inputEmail" class="form-control mb-3" required autofocus placeholder="{{'email' | trans }}" />
				<input type="password" name="password" id="inputPassword" class="form-control" required placeholder="{{ 'password' | trans }}" />
				<hr />
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
				<button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'signin' | trans }}</button>
				<br />
				<a href="{{path('app_register')}}">{{ 'or_create_account' | trans  }}</a>
				<br />
				<a href="{{ path('app_forgot_password_request') }}">{{ 'Forgot your password ?' | trans }}</a>
				{% endif %}
			</form>
		</div>
	</main>
{% endblock %}
