{% for proposal in proposals %}
    <div class="card mb-4 p-1 shadow-sm">
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar"
            style="width: {{ progress(workshop.dateBegin, workshop.dateEnd) }}%;"
            aria-valuenow="{{ progress(workshop.dateBegin, workshop.dateEnd) }}"
            aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
{% endfor %}