{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ workshop.name }}
{% endblock %}
{% block body %}
{% set slug = app.request.get('slug') %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
    <header>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-content-center">
                <h1 class="align-content-center justify-content-center">
                    {{ 'workshop' | trans }} – {{ workshop.name }}
                </h1>
            </div>
        </div>
    </header>
{% endblock %}
    <main id="proposal">
        <div class="container">
{% include 'proposal/overview.html.twig' %}
            <div class="row mt-3 mb-2">
                <div class="col-12">
                    <div class="d-flex">
                        <div class="mr-auto">
                            <div class="btn-group" roles="group">
                                <a class="btn btn-primary" href="{{ path('workshop_show', {'workshop' : workshop.id, 'slug' : app.request.get('slug') })}}">
                                    <i class="bi bi-arrow-left-short"></i>{{ 'back_to_workshop' | trans }}
                                </a>
{% if app.user and app.user == proposal.user and  date() <= date(workshop.dateEnd) %}
                                <a href="{{ path('proposal_edit', {'workshop' : workshop.id, 'proposal' : proposal.id, 'slug' : slug}) }}" class="btn btn-secondary">
                                    <i class="bi bi-file-earmark-font" aria-hidden="true"></i>{{ 'edit_a_proposal' | trans }}
                                </a>
{% endif %}
                            </div>
                        </div>
                        <div class="ml-5">
                            <div class="btn-group" roles="group">
{% if app.user and app.user != proposal.user %}
    {% if workshop.voteStatus %}
                                <a href="{{ path('report_proposal', {'slug' : slug, 'idProposal': proposal.id}) }}" class="btn btn-light float-right" data-toggle="deleteConfirmation">
                                    <i class="bi bi-flag"  title="{{ 'reporter'|trans }}"></i>
                                </a>
    {% endif %}
{% endif %}
{% if app.user and app.user == proposal.user %}
                                <a href="{{ path('proposal_delete', {'workshop' : workshop.id, 'theme' : workshop.theme.id, 'proposal' : proposal.id, 'slug' : slug}) }}" class="btn bg-danger nav-link btn-sm float-right" data-toggle="deleteConfirmation">
                                    <i class="bi bi-trash" aria-hidden="true"></i>
                                </a>
{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-5">
{% if workshop.datevoteBegin() <= date() and workshop.datevoteEnd() >= date() %}
                <div class="col-lg-4 col-sm-6 order-2">
                    <h3 class="ml-2">{{ 'i_vote' | trans }}</h3>
                    <p> Là on va ajouter le système de vote en fonction du choix en inclusion. À noter, le workshop.voteStatus fonctionne avec un jour de décallage, ce qui signifie qu'il va falloir corriger cela dans le code. Le test sur la date de début et de fin du vote est donc à corriger le moment venu.</p>
                </div>
                <div class="col-lg-8 col-sm-6 order-1">
{% else %}
                <div class="col-12">
{% endif %}
                    <h3 class="ml-2">{{ 'i_forum' | trans }}</h3>
                    <div class="row mb-3">
                        <div class= "btn-group" role="group">
                            <a href="{{ path('forum_add', {'workshop' : proposal.workshop.id, 'proposal' : proposal.id, 'slug' : slug }) }}" class="btn btn-primary">
                                <i class="bi bi-plus"></i> {{ 'add_thread' | trans }}
                            </a>
                        </div>
                    </div>
{% if proposal.forums.count != 0 %}
    {% include 'forum/show-forums.html.twig' %}
{% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}