<div id="proposal{{ proposal.id }}" class="col-12 proposal-sidebar">
    <div class="row mb-5 ">
        <div class="col-12">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4 class="d-flex justify-content-center">{{ proposal.name }}</h4>
                        <span class="text-muted"><div
                                    class="avatar avatar-xs float-left bg-primary">{{ proposal.user.username | first | capitalize }}</div>&nbsp;{{ 'from' | trans }} {{ proposal.user.username }}</span>
                        <hr/>
                        {{ proposal.description | markdown_to_html }}
                    </div>
                    <div class="col-12">
                        {% if app.user in workshop.theme.category.users or is_granted('ROLE_ADMIN')%}

                            {% if workshop.theme.voteType == 'levelled' %}
                                {% include 'proposal/proposal-votes-levelled.html.twig' %}

                            {% elseif workshop.theme.voteType == 'weighted' or workshop.theme.voteType == 'weighted-delegation'%}
                                {% set pointsADonner = workshop.theme.points %}
                                {# on vérifie le nombre de points que l'utilisateur à deja voté #}
                                {% for proposal in workshop.proposals %}
                                    {% for vote in proposal.votes %}
                                        {% if app.user is same as(vote.user) %}
                                            {% set pointsADonner = pointsADonner - vote.votedPoints %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                <input type="hidden" id="pointsADonner" value="{{ pointsADonner }}">



                                {# on vérifie le nombre de points que nos délégations ont #}
                                {% for delegation in app.user.delegationsTo %}


                                    {% if (delegation.workshop and delegation.workshop.id == workshop.id) or (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                                        <input type="hidden" id="pointsADonner{{ delegation.userFrom.id }}" value="{{ workshop.theme.points }}">
                                        {% for proposal in workshop.proposals %}
                                            {% for vote in proposal.votes %}
                                                {% if delegation.userFrom is same as(vote.user) %}


                                                    <script>
                                                        let pointsADonner{{ delegation.userFrom.id }} = document.getElementById('pointsADonner{{ delegation.userFrom.id }}').value;
                                                        console.log(pointsADonner{{ delegation.userFrom.id }});
                                                        let pointsADonnerInput{{ delegation.userFrom.id }} = document.getElementById('pointsADonner{{ delegation.userFrom.id }}');
                                                        pointsADonner{{ delegation.userFrom.id }} = pointsADonner{{ delegation.userFrom.id }} - {{ vote.votedPoints }};
                                                        pointsADonnerInput{{ delegation.userFrom.id }}.value =  pointsADonner{{ delegation.userFrom.id }};
                                                    </script>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}






                                {% include 'proposal/proposal-votes-weighted.html.twig' %}

                            {% else %}
                                {% include 'proposal/show-proposal-votes.html.twig' %}
                            {% endif%}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if app.user and date(workshop.dateEnd) > date() %}
    {% if app.user in workshop.theme.category.users or is_granted('ROLE_ADMIN')%}
        {% if workshop not in app.user.bannedFrom %}
        <a href="{{ path('forum_add', {'workshop' : proposal.workshop.id, 'proposal' : proposal.id, 'slug' : slug }) }}"
           class="btn btn-primary"><i
                    class="bi bi-plus"></i> {{ 'add_thread' | trans }}</a>
        {% else %}
            <a class="btn btn-danger">{{ 'ban.from.workshop'|trans }}, {{ 'ban.forum'|trans }}</a>
        {% endif %}
    {% endif %}
    {% endif %}
    {% if proposal.forums.count != 0 %}
        {% include 'forum/show-forums.html.twig' %}
    {% endif %}

</div>
