{% if app.user and date(workshop.dateEnd) > date() %}
    <div class="col-9 d-flex m-1 flex-row-reverse"
         role="group">
        {% if workshop not in app.user.bannedFrom %}
        <a href="{{ path('forum_answer', {'workshop' : proposal.workshop.id, 'proposal' : proposal.id, 'slug' : slug, 'forum' : forum.id}) }}"
           class="btn btn-light "><i
                    class="bi bi-reply"></i> {{ 'reply' | trans }}
        </a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN_RESTRICTED') %}
            <a href="{{ path('forum_edit', {'workshop' : proposal.workshop.id, 'proposal' : proposal.id, 'slug' : slug, 'forum' : forum.id}) }}"
               class="btn btn-light ml-1"><i
                        class="bi bi-list-task"></i> {{ 'edit' | trans }}
            </a>
            <a href="{{ path('forum_delete', {'workshop' : proposal.workshop.id, 'proposal' : proposal.id, 'slug' : slug, 'forum' : forum.id}) }}"
               class="btn btn-light ml-1 btn-sm"
               data-toggle="deleteConfirmation"><i
                        class="bi bi-trash"></i>
            </a>
        {% endif %}
        {% if is_granted ('ROLE_MODERATOR') %}
            {#<a class="btn btn-light ml-1"
               href="{{ path('forum_report', {'slug' : slug, 'forum' : forum.id}) }}"><i
                        class="bi bi-flag"></i>
            </a>#}
            <a href="{{ path('report_forum', {'idForum': forum.id, 'slug':slug,}) }}"
               class="btn btn-light ml-1"
               data-toggle="deleteConfirmation">
                <i class="bi bi-flag"></i>
            </a>
        {% endif %}
    </div>
{% endif %}
