<div class="btn-group mb-3 " role="group">
    {% set vf = 0 %}
    {% set va = 0 %}
    {% set vb = 0 %}
    {% for vote in proposal.votes %}
        {% if vote.votedFor > 0 %} {% set vf = vf + 1 %} {% endif %}
        {% if vote.votedAgainst > 0 %} {% set va = va + 1 %} {% endif %}
        {% if vote.votedBlank > 0 %} {% set vb = vb + 1 %} {% endif %}
    {% endfor %}

    {# Si le vote est possible, on affiche les 3 icones de vote#}
    {% if app.user and date(workshop.dateVoteEnd) > date() %}
 {#Si on a des délégations, le clique ouvre une liste déroulante avec des possibilités de voter pour nos délégations ou nous meme.#}




         {% for delegation in app.user.delegationsTo %}
             {% if (delegation.theme and delegation.theme.id == workshop.theme.id) %}

                <div class="dropdown">
                    <button class="btn btn-success vote-border"
                            type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        {{ 'for' | trans }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFor', 'user' : app.user.id }) }}"
                           class="dropdown-item">{{ 'vote.me' | trans }}</a>
                        {% for delegation in app.user.delegationsTo %}

                            {% if (delegation.workshop and delegation.workshop.id == workshop.id) or (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                                <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFor', 'user' : delegation.userFrom.id }) }}"
                                   class="dropdown-item">{{ 'vote.as' | trans }} {{ delegation.userFrom.username }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

    <div class="dropdown">
        <button class="btn btn-danger vote-border"
                type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            {{ 'against' | trans }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgainst', 'user' : app.user.id }) }}"
               class="dropdown-item">{{ 'vote.me' | trans }}</a>
            {% for delegation in app.user.delegationsTo %}
                {% if (delegation.workshop and delegation.workshop.id == workshop.id) or (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                    <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgainst', 'user' : delegation.userFrom.id }) }}"
                       class="dropdown-item">{{ 'vote.as' | trans }} {{ delegation.userFrom.username }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary vote-border"
                type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            {{ 'withholding' | trans }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedBlank', 'user' : app.user.id }) }}"
               class="dropdown-item">{{ 'vote.me' | trans }}</a>
            {% for delegation in app.user.delegationsTo %}
                {% if (delegation.workshop and delegation.workshop.id == workshop.id) or (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                    <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedBlank', 'user' : delegation.userFrom.id }) }}"
                       class="dropdown-item">{{ 'vote.as' | trans }} {{ delegation.userFrom.username }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

            {% endfor %}


 {#Si l'utilisateur n'a pas de délégation dans ce thème il clique directement pour voter en son nom#}
        {% if app.user.delegationsTo.count is same as(0) %}
            <div class="dropdown">
                <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFor', 'user' : app.user.id }) }}"
                   class="btn btn-success progress-bar-striped dropdown-toggle vote-border"
                   type="button" id="link-vote"
                   aria-expanded="false">
                    {{ 'for' | trans }}
                </a>
            </div>
            <div class="dropdown">
                <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgainst', 'user' : app.user.id }) }}"
                   class="btn btn-danger progress-bar-striped dropdown-toggle vote-border"
                   type="button" id="link-vote"
                   aria-expanded="false">
                    {{ 'against' | trans }}
                </a>
            </div>
            <div class="dropdown">
                <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedBlank', 'user' : app.user.id }) }}"
                   class="btn btn-outline-secondary progress-bar-striped dropdown-toggle vote-border"
                   type="button" id="link-vote"
                   aria-expanded="false">
                    {{ 'withholding' | trans }}
                </a>
            </div>
            {% else %}
               {# {% set flag = true %}
                {%  for delegation in app.user.delegationsTo %}
                    {% if delegation.theme.id is same as(workshop.theme.id) and flag == true %}
                        <div class="dropdown">
                            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFor', 'user' : app.user.id }) }}"
                               class="btn btn-success progress-bar-striped dropdown-toggle vote-border"
                               type="button" id="link-vote"
                               aria-expanded="false">
                                {{ 'for' | trans }}
                            </a>
                        </div>
                        <div class="dropdown">
                            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgainst', 'user' : app.user.id }) }}"
                               class="btn btn-danger progress-bar-striped dropdown-toggle vote-border"
                               type="button" id="link-vote"
                               aria-expanded="false">
                                {{ 'against' | trans }}
                            </a>
                        </div>
                        <div class="dropdown">
                            <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedBlank', 'user' : app.user.id }) }}"
                               class="btn btn-outline-secondary progress-bar-striped dropdown-toggle vote-border"
                               type="button" id="link-vote"
                               aria-expanded="false">
                                {{ 'withholding' | trans }}
                            </a>
                        </div>
                        {% set flag = false %}
                    {% endif %}
                {% endfor %}#}
            {% endif %}


        {# Supprimer son vote#}
        {% for vote in proposal.votes %}

            {% if app.user == vote.user %}
            <div class="row mb-2" >
                <div class="col-12">
                    <a href="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id, 'vote' : vote.id}) }}" class="btn btn-light ml-1 btn-sm"
                       data-toggle="deleteConfirmation"><i
                                class="bi bi-trash"></i> {{ 'vote-delete' | trans }}</a>
                </div>
            </div>
            {% endif %}

                {% for delegation in app.user.delegationsTo %}
                    {% if (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                        {% if vote.user == delegation.userFrom %}
                        <div class="row mb-2" >
                            <div class="col-12">
                                <a href="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id, 'vote' : vote.id}) }}" class="btn btn-light ml-1 btn-sm"
                                   data-toggle="deleteConfirmation"><i
                                            class="bi bi-trash"></i> {{ 'vote-delegation-delete' | trans }} {{ delegation.userFrom }}</a>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}

        {% endfor %}

        {# Si le vote n'est plus possible, on affiche juste des icones#}
{% elseif app.user and date(workshop.dateVoteEnd) < date() %}
    <div class="btn btn-success progress-bar ">{{ 'for' | trans }}</div>
    <div class="btn btn-danger progress-bar">{{ 'against' | trans }}</div>
    <div class="btn btn-secondary progress-bar">{{ 'withholding' | trans }}</div>

{% endif %}

</div>

