{% extends 'base.html.twig' %}{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ theme.name }}
{% endblock %}
{% block body %}
<body class="public">
{% include 'menu.html.twig' %}		
{% block header %}
	<header>
    <div class="container-fluid">
        <div class="d-flex justify-content-center align-content-center">
			<h1 class="text-center">{{ 'theme_delegation' | trans }}</h1>
	        <div class="container">
	            <div class="col-12">
    	            <div class="card p-3 mb-3">
{{ 'jumbo_explication_deleg-2' | trans | markdown_to_html }}
                	</div>
                </div>
            </div>
		</div>
	</header>
{% endblock %}
	<main class="delegation">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="d-flex justify-content-center align-content-center">
						<h2{{ 'theme_description' | trans }} </h2>
					</div>
					<div class="d-flex justify-content-center align-content-center">
	{#				<p>{{ theme.description }}</p>#}
					</div>

					{{ form(form, {'attr' : { 'class' : 'col-10'}}) }}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
