{% extends 'base.html.twig' %}

{% block body %}
<body id="public"">
{% include 'menu.html.twig' %}
{% block header %}
	<header>
	    <div class="container-fluid">
	        <div class="d-flex justify-content-center align-content-center">
	            <h1 class="align-content-center justify-content-center">
	            	{{ 'delegations' | trans }}
	            </h1>
	        </div>
{% include 'workshop/menu.html.twig' %}
	    </div>
	</header>
{% endblock %}
	<main id="delegation-content">
	<div class="container-fluid">
		<div class="row">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
				<h4 class="h4">{{'workshop' | trans }} {{ workshop.name }}</h4>
			</div>
{% include 'workshop/menu.sub.html.twig' %}
			<div class="row mt-2 mb-2">
				<div class="col-12 text-left">
					<h4>{{ 'edit' | trans }} {{ 'forum' | trans }}</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
{{ form(form, {'attr' : { 'class' : 'col-10'}}) }}
			</div>
		</div>


	</main>
	{% endblock %}
