{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'forum' | trans }}
{% endblock %}
{% block body %}
{% set slug = app.request.get('slug') %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
    <header>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-content-center">
                <h1 class="align-content-center justify-content-center">
{{ 'add_thread' | trans }}
                </h1>
            </div>
        </div>
    </header>
{% endblock %}
    <main id="forum">
        <div class="container">
{% include 'proposal/overview.html.twig' %}
            <div class="row mt-2">
    		    <div class="col-lg-8 col-sm-6 mt-3">
{% include 'forum/show-forums.html.twig' %}
                </div>
                <div class="col-lg-4 col-sm-6 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h4>{{ 'your_thread' | trans}}</h4>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
