/***** Font families *****/
body {font-family: 'Open sans', sans-serif;background-color: #B0413E}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: 'Merriweather', sans-serif;}
input, textarea {font-family: 'Open sans', sans-serif;}

/***** Characters styles *****/
label {font-weight: 600;}
p > a {font-weight: bold;}
a { text-decoration: none; transition: all .3s;}

/***** Sizes, margins, paddings and effects *****/
body {min-height: 100vh;margin: 0;}
i {font-size: 1.2em;}
textarea {font-size: 0.85em;}
.ms-auto {margin-left: auto!important; }
a {text-decoration: none; transition: all .3s; }
a:hover, a:focus {border: 0; text-decoration: none; }
p > a {font-weight: bold;}

/***** Characters sizes and effects *****/
body {font-size: 1rem;line-height: 1.5;text-align: left;}
h1, .h1 {margin-top: 6rem;font-size: 2.5em;font-weight: bold;}
h2, .h2 {font-size: 1.8em;font-weight: normal;}
h3, .h3 {font-size: 1.4em!important;font-weight: normal;}
.large {font-size: 3em;}
.chevron {display: flex;}
.bi-chevron-down, .bi-chevron-right{font-size: 2.5rem;}
.chevron-closing{ display: none;}


/***** Colors Characters and Backgrounds *****/
a { color: #f35b3f;}
a:hover, a:focus { color: #f35b3f;}
a, button {color: #4f4439;}
input, textarea {color:#4f4439;}
.dropdown-menu-dark {background-color:#343a40;}
.keyword-suggest {color: #007bff;}
.green-tooltip {background-color: #B3E283;}
.pink-tooltip {background-color: #E99497;}
.green {color: #B3E283;}
.pink {color: #E99497;}

/***** cursors *****/
.proposition {cursor: pointer;}

/***** Menus *****/
.nav-link i {margin-right: 0.35rem;}
.nav-link.active {color: #17a2b8;}

/***** Cards *****/

/***** Avatars *****/
.avatar-lg {
    width: 100px;
    height: 100px;
    padding-top: 10px;
}
.avatar {
    width: 50px;
    height: 50px;
    padding-top: 6px;
}
.avatar-sm {
    width: 35px;
    height: 35px;
    padding-top: 5px;
    margin-right:0.5rem;
    display:inline-block;
}
.avatar-xs {
    width: 20px;
    height: 20px;
    padding-top: 1px;
    font-size: 1rem;
}
.avatar, .avatar-sm, .avatar-xs, .avatar-lg {border-radius: 50%;color: white;background: #19ade3;font-family: 'Open Sans', sans-serif;font-weight: bold;text-align: center;}
.avatar-list {margin-left: -5.5px;border: 1px solid white;}

/***** Keywords *****/
.keyword-suggest {cursor: pointer;}
.highlight {font-size: 1.2rem;}

/*Logo dans la barre de menu */
.logo-small {width:25px;height:25px;margin-right:2rem;}
/*Fin de Logo dans la barre de menu */

::-moz-selection { background: #f35b3f; color: #fff; text-shadow: none; }
::selection { background: #f35b3f; color: #fff; text-shadow: none; }


/***** Tables *****/
.table th, td, table th {text-align: left;}
.table, table {border-collapse: collapse;}
.table th, td {border-bottom: 1px solid #ddd;}

/***** Sidebars *****/

.sidebar ul li a {
    display: block;
    padding: 5px 15px !important;
    border: 0; color: #fff;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus { outline: 0; background: #555; color: #ddd; }

.sidebar ul li a i { margin-right: 5px; }

.sidebar ul li.active > a, a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

.sidebar ul ul a { background: #444; padding-left: 30px; font-size: 14px; }

.sidebar ul ul li.active > a { background: #555; }

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar-right a {font-size: 1rem;text-decoration: none;}
.sidebar-right .closebtn {font-size: 36px;
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;}

.sidebar-right {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
}
.sidebar-right a {
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s;
}
.sidebar-grey .nav .nav-item .active {color: #555 !important;}
.sidebar-right {background-color: #F0EDEE;}
.sidebar-right a {color: #818181;}
.sidebar-right a:hover {color: #f1f1f1;}
/***** Lateral sidebar Firefox et IE *****/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/***** Buttons *****/
.login-button {width: 30%;}
.btn {box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;}

/***** Cards *****/
.card-text blockquote {
    color: #19ade3;
    margin-top: 1rem;
    quotes: "«\00A0" "\00A0»";
}

.card-img-top{
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
}

.card > .progress {
    height: 0.2rem;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.card-link + .card-link {margin-left: 0px !important;}
.card-link, .card-link:hover {color: #212529;text-decoration: none !important;}
.card-text h2 {margin-bottom: 1em;}

.card-theme-subtitle{
    font-size: .8rem;
    font-weight: bold;
    padding :0 1rem!important;
}
.card-text>blockquote {
    font-size: 1.30rem;
    text-align: center;
}


/***** Breadcrumbs *****/
.breadcrumb {
    font-size: 14px;
    padding: .35rem 0.6rem;
    margin-bottom: 0rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 1px black;
    color: grey;background: transparent;
}
/***** Footer *****/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 3rem;
}
footer, .footer {color: #fff;background-color: #343a40;}

/* Media Queries */
@media (min-width: 540px) {
    .card-columns {column-count: 1;}
}
@media (min-width: 800px) {
    .card-columns {column-count: 2;}
}
@media (min-width: 1290px) {
    .card-columns {column-count: 3;}
}
@media (min-width: 1600px) {
    .card-columns {column-count: 4;}
}

/***** Restes dont on ne sait pas quoi faire *****/
.content { width: 100%; transition: all 0.3s; }
.js-answer-hidden {display: none;}
.hidden-for-id {display: none;}
.active .img-thumbnail {background-color: white !important;}
nav.sidebar-grey + main {margin-left: 75px;}

/***** Forums *****/
.forum-border {
    border: 0.2rem solid #0A1D37;
    border-radius: 6px;
}
/***** Votes *****/
.vote-border {
    border: 3px solid #0c5460;
    border-radius: 6px;
}