{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'admin' | trans }}
{% endblock %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
{% block header %}
                <header>
                    <h1 class="text-center">
            {{'add_document' | trans }} : {{ workshop.name}}
                    </h1>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
            {{ 'jumbo_explication_docs' | trans | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
{% endblock %}
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
                    <div class="row mb-2" >
                        <div class="col-12" style="display:flex">
                            <a href="{{ path('workshop_edit', {'workshop' : workshop.id})}}" class="btn btn-secondary btn-sm">
                                <i class="bi bi-arrow-bar-left"></i> {{'workshop' | trans }} : {{ workshop.name}}
                            </a>
                            <a href="{{ path('workshop_edit_document', {'workshop' : workshop.id}) }}" class="btn btn-info btn-sm" style="margin-left:auto;">
                                <i class="bi bi-plus-square"></i> {{ 'edit_document' | trans }}
                            </a>
                            <a href="{{ path('workshop_delete', {'workshop' : workshop.id}) }}" class="btn btn-danger btn-sm" data-toggle="deleteConfirmation">
                                <i class="bi bi-trash"></i> {{ 'delete' | trans }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-2">
                            <div class="card">
                                <div class="card-body ">
{% if workshop.image %}
    {% if workshop.image|split('.')|last is same as('svg') %}
                                    <img class="bd-placeholder-img card-img-top img-fluid" src="{{ asset('img/upload/workshops/'~ workshop.image)}}">
    {% else %}
                                    <img src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('themes_home')}}" class="img-fluid"/>
    {% endif %}
{% else %}
                                    <img src="{{asset('img/logo_aem-lg.png')}}" class="img-fluid"/>
{% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="card">
                                <div class="card-body">
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'id': 'form_upload'}}) }}
{{ form_rest(form) }}
{{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script >

$("#document_file_file").change(function () {
    filePreview(this);
});
</script>
{% endblock %}