
{% set nbPossibleVoters = workshop.theme.category.users.count %}
{% set quorumRequired = (nbPossibleVoters * workshop.quorumRequired) / 100 %}
{% set votant = 0 %}
{% set tableauVotant = [] %}
{% for proposition in workshop.proposals %}
    {% for vote in proposition.votes %}
        {% if vote.user not in tableauVotant %}
            {% set votant = votant + 1 %}
            {% set tableauVotant = tableauVotant|merge([vote.user]) %}
        {% endif %}
    {% endfor %}
{% endfor %}


{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ workshop.name }}
{% endblock %}
{% block body %}
{% set slug =  app.request.get('slug') %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
    <header>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-content-center">
                <h1 class="align-content-center justify-content-center">
                    {{ 'workshop' | trans }} – {{ workshop.name }}
                </h1>
            </div>
        </div>
    </header>
{% endblock %}
    <main id="workshop">
        <div class="container">
{% include 'workshop/overview.html.twig' %}
{% include 'flashbag.html.twig' %}
            <h2 class="mb-3 mt-2">{{ 'proposals' | trans }}</h2>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="d-flex">
                        <div class="mr-auto">
                            <div class="btn-group" roles="group">
                                <a class="btn btn-primary" href="{{ path('workshop_index', {'slug' : workshop.theme.name | slugify, 'theme' : workshop.theme.id }) }}">
                                    <i class="bi bi-arrow-left-short"></i>{{ 'back_to_workshop_list' | trans }}
                                </a>
{% if workshop.rightsWriteProposals == 'everyone' or  app.user in workshop.theme.category.users and is_granted('ROLE_ADMIN_RESTRICTED') or is_granted('ROLE_ADMIN')%}
    {% if workshop not in app.user.bannedFrom %}
        {% if workshop.voteStatus or workshop.forumStatus %}
                                <a href="{{ path('proposal_add', {'workshop' : workshop.id, 'slug' : slug }) }}" class="btn btn-secondary">
                                    <i class="bi bi-plus"></i> {{ 'add_a_proposal' | trans }}
                                </a>
        {% endif %}
    {% else %}
                                <a class="btn btn-danger">{{ 'ban.from.workshop'|trans }}, {{ 'ban.proposal'|trans }}</a>
    {% endif %}
{% endif %}
                            </div>
                        </div>
{# On ajoute un champ d'affichage de quorum si on est dans un vote à points #}
{% if workshop.theme.voteType == 'weighted' or workshop.theme.voteType == 'weighted-delegation' %}
    {% if is_granted ('ROLE_ADMIN_RESTRICTED') and app.user in workshop.theme.category.users or is_granted ('ROLE_ADMIN') or date() > workshop.dateVoteEnd() %}
                        <div class="col-6">
                            <ul class="list-group horizontal">
        {% if votant >= quorumRequired%}
                                <li class="list-group-item active bg-success">
                                    {{ 'quorum:attained' | trans }}
                                </li>
        {% else %}
                                <li class="list-group-item">
                                    {{ 'quorum:notattained' | trans }}
                                </li>
        {% endif %}
                            </ul>
                        </div>
    {% endif %}
{% endif %}
                        <div class="ml-5">
                            <div class="btn-group" role="group">
                                <a href="#" onclick="viewing('grid')"
                                   class="btn btn-danger {{ ((app.request.get('view') == "grid" ) or app.request.get('view') == null)  ? "disabled" : "" }}">
                                    <i class="bi bi-grid"></i></a>


                                <a href="#" onclick="viewing('list')"
                                   class="btn btn-danger {{ (app.request.get('view') == "list")  ? "disabled" : "" }}">
                                    <i class="bi bi-list"></i>
                                </a>
                            </div>
                        </div>
                    </div>
{% include 'proposal/ajax-proposal-show.html.twig' %}
                </div>
            </div>
            <div class="row mb-5 mt-3">
{% if workshop.theme.voteType == 'levelled' %}
    {% if app.request.get('view') == 'list' %}
{# {% include {'proposal/index-levelled-vote-list'} %} #}
        {% for proposal in workshop.proposals %}
            {% include 'workshop/overview-levelled-vote-list.html.twig' %}
        {% endfor %}
    {% else %}
{# {% include {'proposal/index-levelled-vote-grid'} %} #}
        {% for proposal in workshop.proposals %}
            {% include 'workshop/overview-levelled-vote-grid.html.twig' %}
        {% endfor %}
    {% endif %}
    {% elseif workshop.theme.voteType == 'weighted' or workshop.theme.voteType == 'weighted-delegation'%}
        {% if app.request.get('view') == 'list' %}
    {# {% include {'proposal/index-weighted-vote-list'} %} #}
            {% for proposal in workshop.proposals %}
                {% include 'workshop/overview-weighted-vote-list.html.twig' %}
            {% endfor %}
        {% else %}
    {# {% include {'proposal/index-weighted-vote-grid'} %} #}
            {% for proposal in workshop.proposals %}
                {% include 'workshop/overview-weighted-vote-grid.html.twig' %}
            {% endfor %}
        {% endif %}
    {% else %}
        {% if app.request.get('view') == 'list' %}
    {# {% include {'proposal/index-simple-vote-list'} %} #}
            {% for proposal in workshop.proposals %}
                {% include 'workshop/overview-workshop-simple-list.html.twig' %}
            {% endfor %}
        {% else %}
    {# {% include {'proposal/index-simple-vote-grid'} %} #}
            {% for proposal in workshop.proposals %}
                {% include 'workshop/overview-workshop-simple-grid.html.twig' %}
            {% endfor %}
        {% endif %}
    {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
