<div class="card mt-3 shadow-lg">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card-img2">
{% if workshop.image %}
    {% if workshop.image|split('.')|last is same as('svg') %}
                    <img class="bd-placeholder-img card-img-top img-fluid" src="{{ asset('img/upload/workshops/'~ workshop.image)}}">
{% else %}
                    <img class="bd-placeholder-img card-img-top img-fluid" width="250" height="250" style="width:250px;height:250px;" src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('workshops_home') }}"/>
{% endif %}
{% elseif workshop.theme.image %}
    {% if workshop.theme.image|split('.')|last is same as('svg') %}
                    <img  src="{{ asset('img/upload/themes/'~ workshop.theme.image)}}" class="bd-placeholder-img card-img-top img-fluid" width="250px" height="250px">
    {% else %}
                    <img class="bd-placeholder-img card-img-top img-fluid" width="250" height="250" style="width:250px;height:250px;" src="{{ vich_uploader_asset(workshop.theme, 'imageFile') | imagine_filter('themes_home') }}"/>
    {% endif %}
{% else %}
                    <img class="bd-placeholder-img card-img-top img-fluid" width="250" height="250" style="width:250px;height:250px;" src="{{ asset('img/logo_aem-lg.png') }}"/>
{% endif %}
                </div>
            </div>
            <div class="col-lg-8 col-sm-6">
                <div class="card-text">
{{ workshop.description | raw }}
                    <p><small class="text-muted">
{% for k in workshop.keywords %}
    {% if app.user %}
                        <a href="{{ path('workshop_tags',{'id':k.id}) }}">
    {% endif %} 
                                #{{ k.name }}
    {% if app.user %}
                        </a>
    {% endif %}
{% endfor %}
                    </small></p>
                </div>
            </div>
        </div>
    </div>
    {% if workshop.documents | length %}
    <div class="card-footer">
{% include 'workshop/document-view.html.twig' %}
    </div>
{% endif %}
</div>