<nav id="admin-menu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar" role="navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-admin" aria-controls="menu-my_id" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon justify-content-right"><i class="bi bi-view-list"></i></span>
    </button>
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            {# Onglets de navigation d'un administrateur#}
            {# Dans l'onglet de base sont les forums de l'utilisateur #}
{% if is_granted ('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link {{ 'admin' == app.request.attributes.get('_route') ? 'active' }}" href="{{ path('admin') }}"
                   role="tab" aria-controls="home" aria-selected="true">
                   <i class="bi bi-speedometer2"></i>{{ 'dashboard' | trans }}
               </a>
            </li>
            {#}Pour les administrateurs restreints qui ont le droit de faire ça #}

                {# D'abord, la Configuration générale du site #}
            <li class="nav-item">
                <a class="nav-link {{ 'admin_configuration' in app.request.attributes.get('_route') ? 'active' }}" id="pills-profile-tab" href="{{ path('admin_configuration') }}" role="tab" aria-controls="profile" aria-selected="false">
                    <i class="bi bi-list-task"></i>{{ 'configuration' | trans }}
                </a>
            </li>

            {# L'adminstration des Utilisateurs #}
            <li class="nav-item">
                <a class="nav-link {{ 'user_' in app.request.attributes.get('_route') ? 'active' }}" id="pills-contact-tab" href="{{ path('user_admin') }}" role="tab" aria-controls="contact" aria-selected="false">
                    <i class="bi bi-people"></i>{{ 'users' | trans }}
                </a>
            </li>
{% endif %}

            {# L'administration des Catégories #}
            <li class="nav-item">
                <a class="nav-link {{ 'category_' in app.request.attributes.get('_route') ? 'active' }}" id="pills-workshops-tab" href="{{ path('category_admin') }}" role="tab" aria-controls="workshops" aria-selected="false">
                    <i class="bi bi-briefcase"></i>{{ 'categories' | trans }}
                </a>
            </li>

        
            {# La Gestion des Thèmes #}
           <li class="nav-item">
               <a class="nav-link {{ 'theme_' in app.request.attributes.get('_route') ? 'active' }}" id="pills-forums-tab" href="{{ path('theme_admin') }}" role="tab" aria-controls="forums" aria-selected="false">
                <i class="bi bi-folder"></i>{{ 'themes' | trans }}
            </a>
            </li>
            {# La gestion des Ateliers #}
            <li class="nav-item">
                <a class="nav-link {{ 'workshop_' in app.request.attributes.get('_route') ? 'active' }}" id="pills-reports-tab" href="{{ path('workshop_admin') }}" role="tab" aria-controls="reports" aria-selected="false">
                    <i class="bi bi-chat-right-text"></i>{{ 'workshops' | trans }}
                </a>
            </li>
            {# La gestion des Mots-clefs #}
            <li class="nav-item">
                <a class="nav-link {{ 'keyword_' in app.request.attributes.get('_route') ? 'active' }}" id="pills-reports-tab" href="{{ path('keyword_admin') }}" role="tab" aria-controls="reports" aria-selected="false">
                    <i class="bi bi-book"></i>{{ 'keywords' | trans }}
                </a>
            </li>
            {# La gestion des Apparences #}
            <li class="nav-item">
                <a class="nav-link {{ 'plugin_' in app.request.attributes.get('_route') ? 'active' }}" id="pills-reports-tab" href="{{ path('appearance_admin') }}" role="tab" aria-controls="reports" aria-selected="false">
                    <i class="bi bi-circle-half"></i>{{ 'appearance' | trans }}
                </a>
            </li>

        </ul>
    </div>
</nav>