{% extends 'base.html.twig' %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
{% block header %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <header>
                    <h1 class="text-center">
{{ 'add' | trans }} {{'une' | trans }} {{'category' | trans | lower}}
                    </h1>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
{{ 'jumbo_explication_cat' | trans | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
{% endblock %}
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
                    <div class="row mb-2" >
                        <div class="col-12">
                            <a href="{{ path('category_admin') }}" class="btn btn-secondary btn-sm">
                                <i class="bi bi-arrow-bar-left"></i>
                                {{ 'list_of' | trans }} {{ 'categories' | trans | lower }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'id': 'form_upload'}}) }}
                                    <aside style="display: none">
{{ form_row(form.imageFile) }}
                                    </aside>
{{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script >

/*$("#category_imageFile_file").change(function () {
    filePreview(this);
});*/


</script>
{% endblock %}