{% extends 'base.html.twig' %}

{% block body %}
    <main main="role">
        <div class="container">
            {% include 'default/jumbotron-request.html.twig' %}
            {% include 'flashbag.html.twig' %}
            <div class="row mt-2">
            {% for category in categories | sort %}
                {% if app.user not in category.users and category.name is not same as('trashcan'|trans) %}
                    <div class="col-xl-6 col-sm-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if category.image %}
                                            {% if category.image|split('.')|last is same as('svg') %}
                                                <img  src="{{ asset('img/upload/categories/'~ category.image)}}" class="bd-placeholder-img card-img-top img-fluid" >
                                            {% else %}
                                                <img class="bd-placeholder-img card-img-top img-fluid" src="{{ vich_uploader_asset(category, 'imageFile') | imagine_filter('themes_home') }}"/>
                                            {% endif %}
                                        {% else %}
                                            <img class="bd-placeholder-img card-img-top" src="{{ asset('img/logo_aem-lg-dark.png') }}"/>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-8">
                                        <div>
                                            <h3 class="card-theme-title">{{ category.name }}</h3>
                                            <p>{{ category.description | truncate(60, true) | raw }}</p>
                                        </div>
                                        <button type="submit" class="btn btn-outline-danger mt-auto"><a href="{{ path('category_send_request',{'id':category.id}) }}">{{ 'send-request' | trans }}</a></button>
                                        {% if cgus is defined %}
                                            {% for cgu in cgus %}
                                                {% if cgu.category is same as(category) %}
                                                    <p><a href="{{ path('show_cgu', {'id':category.id}) }}">{{cgu.name }}</a></p>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}                
            </div>
        </div>
    </main>
{% endblock %}