<div class="row mb-2" >
    {% if app.user and workshop.voteStatus %}
        {% if not is_granted('ROLE_USER')  %}
            <div class="col-12">
                {{ 'warning_anonymous' | trans | markdown_to_html }}
            </div>
        {% endif %}

        {# Vote pour soi si si pas de délégation #}
        <div class="col-12">
            <div class="inline-group" id="voteButtons">
                <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'voted1', 'user' : app.user.id }) }}"
                   class="btn btn-success voteForMe"
                   type="button" id="voted1" data-path="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'voted1', 'user' : app.user.id }) }}"
                   aria-expanded="false">
                    {{ 'for' | trans }}
                </a>
                <a  href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'voted2', 'user' : app.user.id }) }}"
                    class="btn btn-danger voteForMe"
                    type="button" id="voted2" data-path="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'voted2', 'user' : app.user.id }) }}"
                    aria-expanded="false">
                    {{ 'against' | trans }}
                </a>
                <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'voted3', 'user' : app.user.id }) }}"
                   class="btn btn-outline-secondary voteForMe"
                   type="button" id="voted3" data-path="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'voted3', 'user' : app.user.id }) }}"
                   aria-expanded="false">
                    {{ 'withholding' | trans }}
                </a>
            </div>
        </div>

        {# Supprimer son vote #}
        <div class="col-12">
            <div class="row mb-2" >
                <div class="col-12" id="deleteVoteAppendHere">
                    {% if proposal.votedByUser(app.user) %}
                        <a id="deleteVoteMe" href="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id}) }}" data-path="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id}) }}" class="btn btn-light ml-1 btn-sm deleteVoteMe">
                            <i class="bi bi-trash"></i> {{ 'vote-delete' | trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        {# Si le vote n'est plus possible, on affiche la liste des votants en avatars si le vote n'est pas anonyme. S'il est anonyme, on affiche un texte d'explication #}
    {% elseif date(workshop.dateVoteEnd) < date() %}
        <div class="col-12">
            {% if workshop.anonymousVote is same as(false) %}
                {{ jumbo_votants | trans | markdown_to_html }}
            {% else %}
                {{ 'warning_anonymous' | trans | markdown_to_html }}
            {% endif %}
        </div>
    {% endif %}
</div>
