<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <span class="mr-2">{{ 'footer-left' | trans | raw }}</span>

        <span class="d-none d-sm-block float-right">
            <span class="badge badge-primary">{{ website.version }} - #{{ website.name }}</span>
        </span>
    </div>
</footer>