{% extends 'base.html.twig' %}
<h1>Setup</h1>
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/signin.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <main role="main">
        <div class="container">
            <img class="mb-4" src="{{ asset('img/logo_aem.png') }}" alt width="72" height="72" />
            {% if app.user %}
                <div class="mb-3">
                    {{ 'signin.already' | trans }} <b>{{ app.user.username }}</b>.
                    <br /><a href="{{ path('app_logout') }}">{{ 'logout' | trans }}</a>
                </div>
            {% else %}
                {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
                {{ form_start(registrationForm, {'attr' : { 'class' : 'form-signin'}}) }}
                <h3 class="mb-3">{{'register' | trans }}</h3>
                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.lastName) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                <hr />
                <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'register' | trans }}</button>
                <br />
                <a href="{{path('app_login')}}">{{ 'or_sign_in' | trans }}</a>
                {{ form_end(registrationForm) }}
            {% endif %}
        </div>
    </main>
{% endblock %}
